@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&family=Francois+One&family=Staatliches&family=Tourney:wght@600&display=swap');
@import url('./vars.css');

strong {
    font-weight: 700;
}

* {
    box-sizing: border-box;
    padding   : 0;
}

a {
    text-decoration: none;
}

html,
body {
    min-height    : 100vh;
    font-size     : var(--font-size-main);
    font-family   : 'Lato-Regular', sans-serif;
    color         : var(--font-color);
}
.bg_container{
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 760px;
    height: 760px;
    margin: 0 auto;
    background           : url("../assets/img/bg-picture.png")no-repeat;
    background-position-x: 80%;
}
.header {    
    max-width      : var(--width-container);
    display      : flex;
    height       : 80px;
    margin         : 0 auto;    
    margin-bottom: 70px;   
    justify-content: space-between;
    padding: 15px 0;
}
.lang{
    font-family: 'Tourney', cursive;
    font-weight: 600; 
    margin-right: 50px;
}

.header__logo {
    justify-content: end;
}
.header__menu{    
    color         : black;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-weight: 400;
}

.container {
    max-width      : var(--width-container);
    margin         : 0 auto;
    display        : flex;
    justify-content: space-between;
    gap            : 30px;
}

.main {
    flex-basis: 65%;
}

.aside {
    flex-basis: 32%;
}

.aside__menu {
    position: sticky;
    top     : 0;
}

.article {
    position     : relative;
    padding-top  : 1px;
    margin-bottom: 70px;
}

.title {
    position: relative;
    margin  : 20px 0;
    display : inline-block;
}

.sup-title {
    font-weight: 300;
    font-size  : 18px;
    position   : absolute;
    top        : 0;
    right      : -100px;
    font-family: 'Farro', sans-serif;
    text-transform: none;
    letter-spacing: 0.04;
}

.article::before {
    content         : '';
    position        : absolute;
    top             : 0;
    left            : 0;
    display         : block;
    width           : 100px;
    height          : 8px;
    background-color: #000;
}

.aside__item::after {
    margin-top      : 10px;
    content         : '';
    display         : block;
    height          : 1px;
    background-color: #BDBDBD;
}

.title_text {
    font-size     : 1.3em;
    color         : black;
    text-transform: uppercase;
    font-family   : 'Francois One', sans-serif;
    font-weight   : 400;
    letter-spacing: 0.04em;
}

.aside__item {
    display      : inline-block;
    margin-bottom: 70px;
    width        : 100%;
}


.text {
    line-height: 1.71;
    font-weight: 400;
}

.grey {
    background: #DADADA;
    display   : inline-block;
    height    : 1.7em;
}